@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric";
  font-display: swap;
  src: url("../fonts/URWGeometric-Bold.woff") format("woff"), url("../fonts/URWGeometric-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric";
  font-display: swap;
  src: url("../fonts/URWGeometric-Regular.woff") format("woff"), url("../fonts/URWGeometric-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "URW Geometric";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "URW Geometric";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 20px;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1582px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  margin: 108px 0px 0px 0px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 470px;
}

.header__logo-text {
  margin: 7px 0px 0px 37px;
  color: #4d4d4d;
  font-size: 1.15rem;
  line-height: 20.8px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wp {
  display: inline-block;
  -webkit-transform: translateX(-12px);
      -ms-transform: translateX(-12px);
          transform: translateX(-12px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__tg {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__phone {
  margin: 0px 0px 0px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 227px;
  height: 50px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  border-radius: 500px;
  background-color: #fbfbfb;
}

.header__phone-img {
  margin: 0px 12px 0px 10px;
}

.header__phone-text {
  margin: 3px 0px 0px 0px;
  color: #005fcf;
  font-family: Lato;
  font-size: 16px;
}

.main {
  margin: 100px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main._active .main__title {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 1;
}

.main._active .main__text {
  -webkit-transition: .2s .2s;
  -o-transition: .2s .2s;
  transition: .2s .2s;
  opacity: 1;
}

.main._active .main__pc {
  -webkit-transition: .2s .1s;
  -o-transition: .2s .1s;
  transition: .2s .1s;
  opacity: 1;
}

.main._active .main__phone {
  -webkit-transition: .2s .5s;
  -o-transition: .2s .5s;
  transition: .2s .5s;
  -webkit-transform: translateX(84px) translateY(0);
      -ms-transform: translateX(84px) translateY(0);
          transform: translateX(84px) translateY(0);
}

.main._active .btn-block-1 {
  -webkit-transition: .2s .3s;
  -o-transition: .2s .3s;
  transition: .2s .3s;
  opacity: 1;
}

.main._active .btn-block-2 {
  -webkit-transition: .2s .3s;
  -o-transition: .2s .3s;
  transition: .2s .3s;
  opacity: 1;
}

.main._active .c-block-1 {
  -webkit-transition: .2s .4s;
  -o-transition: .2s .4s;
  transition: .2s .4s;
  opacity: 1;
}

.main._active .btn-block-3 {
  -webkit-transition: .2s .3s;
  -o-transition: .2s .3s;
  transition: .2s .3s;
  opacity: 1;
}

.main._active .btn-block-3__wait {
  -webkit-transition: .2s .4s;
  -o-transition: .2s .4s;
  transition: .2s .4s;
  opacity: 1;
}

.main._active .btn-block-3__magazine {
  -webkit-transition: .2s .4s;
  -o-transition: .2s .4s;
  transition: .2s .4s;
  opacity: 1;
}

.main__info {
  max-width: 620px;
  margin: 0px 64px 0px 0px;
}

.main__upper-text {
  display: inline-block;
  max-width: 240px;
  color: #4d4d4d;
  font-size: 17px;
  letter-spacing: 0.16px;
  line-height: 20.8px;
  margin: -37px 0px 0px 0px;
}

.main__title {
  font-size: 3.1rem;
  letter-spacing: 1.35px;
  line-height: 49.5px;
  opacity: 0;
}

.main__title span {
  font-weight: 700;
}

.main__text {
  max-width: 440px;
  color: #4d4d4d;
  font-size: 23px;
  letter-spacing: 0.21px;
  line-height: 27.3px;
  opacity: 0;
}

.main__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: hidden;
}

.main__img-wrapper {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__phone {
  z-index: 2;
  -webkit-transform: translateX(84px) translateY(100%);
      -ms-transform: translateX(84px) translateY(100%);
          transform: translateX(84px) translateY(100%);
}

.main__pc {
  width: 100%;
  opacity: 0;
}

.btn-block-1 {
  opacity: 0;
  margin: 124px 0px 0px 0px;
}

.btn-block-1__link {
  display: inline-block;
  width: 583px;
  height: 160px;
  border-radius: 17px;
  background-color: #005fcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

.btn-block-1__link span {
  display: inline-block;
  color: #ffffff;
  font-family: Lato;
  font-size: 27px;
  max-width: 334px;
  line-height: 33px;
  margin: 0px 35px 0px 0px;
  position: relative;
}

.btn-block-1__link span:before {
  content: '';
  position: absolute;
  width: 176px;
  height: 186px;
  background: url("../img/magazine.png") 0 0 no-repeat;
  bottom: -10px;
  right: 100%;
}

.btn-block-2 {
  opacity: 0;
  position: relative;
  margin: 30px 0px 0px 0px;
}

.btn-block-2__link {
  display: inline-block;
  width: 442px;
  height: 107px;
  -webkit-box-shadow: 0 4px 0 #004da7, 0 34px 54px rgba(20, 124, 248, 0.21), inset 0 4px 44px rgba(255, 255, 255, 0.25);
          box-shadow: 0 4px 0 #004da7, 0 34px 54px rgba(20, 124, 248, 0.21), inset 0 4px 44px rgba(255, 255, 255, 0.25);
  border-radius: 17px;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  background-color: #005fcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-block-2__link p {
  color: #ffffff;
  width: 200px;
}

.btn-block-2__link .btn-block-2__2 {
  font-size: 14px;
  font-weight: 400;
}

.btn-block-2__link .btn-block-2__1 {
  text-decoration: underline;
  font-size: 21px;
  font-weight: 700;
  margin: 10px 0px 0px 0px;
  position: relative;
}

.btn-block-2__link .btn-block-2__1:before {
  content: '';
  position: absolute;
  width: 77px;
  height: 82px;
  background: url("../img/magazine.png") 0 0/cover no-repeat;
  right: 110%;
}

.btn-block-2__2mins {
  position: absolute;
  top: -50px;
  right: 140px;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background-color: #010d1b;
}

.btn-block-2__2mins p {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.btn-block-2__2mins p span {
  display: inline-block;
  font-size: 50px;
  font-weight: 400;
  margin: 0px 0px 7px 0px;
}

.btn-block-3 {
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.btn-block-3__link {
  display: inline-block;
  width: 294px;
  height: 60px;
  -webkit-box-shadow: 0 4px 0 #004da7, 0 34px 54px rgba(20, 124, 248, 0.21), inset 0 4px 44px rgba(255, 255, 255, 0.25);
          box-shadow: 0 4px 0 #004da7, 0 34px 54px rgba(20, 124, 248, 0.21), inset 0 4px 44px rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  background-color: #005fcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btn-block-3__link span {
  display: inline-block;
  max-width: 150px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  margin: 0px 0px 0px 42px;
}

.btn-block-3__wait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 30px;
  opacity: 0;
}

.btn-block-3__2mins {
  color: #999ea4;
  font-size: 41px;
  text-align: center;
  position: relative;
  margin: -3px 0px 0px 0px;
}

.btn-block-3__2mins:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: 9px;
  right: -3px;
  background: url("../img/icons/watch.svg") 0 0/cover no-repeat;
}

.btn-block-3__wait-text {
  display: inline-block;
  max-width: 100px;
  color: #999ea4;
  font-size: 15px;
  line-height: 15.4px;
  margin: 0px 0px 0px 12px;
}

.btn-block-3__magazine {
  margin: 22px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.btn-block-3__magazine img {
  width: 36px;
  height: 39px;
}

.btn-block-3__magazine-text {
  display: inline-block;
  color: #5d6876;
  font-size: 16px;
  max-width: 240px;
  margin: 0px 0px 0px 12px;
}

.btn-block-3__magazine-text span {
  font-weight: 700;
}

.c-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-block__id {
  color: #313b46;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
  line-height: 20.38px;
  text-transform: uppercase;
}

.c-block__logo {
  margin: 0px 30px;
}

.c-block__text {
  max-width: 67px;
  color: #4d4d4d;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 15.85px;
}

.c-block-1 {
  margin: 18px 0px 0px 0px;
  opacity: 0;
}

.c-block-2 {
  margin: 0px 0px 0px 50px;
}

.c-block-2__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
  padding: 0px 17px;
  margin: 0px 13px 0px 0px;
}

.c-block-2 .c-block__logo {
  margin: 0px 0px 0px 30px;
}

@media (max-height: 920px) and (min-width: 768px) {
  .main {
    margin: 50px 0px 0px 0px;
  }
}

@media (max-height: 800px) and (min-width: 768px) {
  .btn-block-1 {
    margin: 70px 0px 0px 0px;
  }
}

@media (min-width: 992px) {
  .header__wp:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }

  .header__tg:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }

  .btn-block-1__link:hover {
    background-color: #0753aa;
  }

  .btn-block-2__link:hover {
    background-color: #0753aa;
  }

  .btn-block-3__link:hover {
    background-color: #0753aa;
  }
}

@media (min-width: 1000px) {
  .main__phone {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .main__info {
    max-width: 450px;
    margin: 0;
  }

  .main__title {
    font-size: 30px;
    line-height: 110%;
  }

  .main__text {
    font-size: 19px;
  }

  .btn-block-1 {
    margin: 90px 0px 0px 0px;
  }

  .btn-block-1__link {
    width: 380px;
    height: 120px;
  }

  .btn-block-1__link span {
    font-size: 16px;
    margin: 0px 10px 0px 0px;
    max-width: 193px;
    line-height: 26px;
  }

  .btn-block-1__link span:before {
    bottom: -50%;
    -webkit-transform: scale(0.5) translateY(35px);
        -ms-transform: scale(0.5) translateY(35px);
            transform: scale(0.5) translateY(35px);
  }

  .btn-block-2__link {
    width: 370px;
    height: 95px;
  }

  .btn-block-2__link p {
    margin: 0px 0px 0px 50px;
  }

  .btn-block-2__link .btn-block-2__1 {
    margin: 10px 0px 0px 50px;
  }

  .btn-block-2__link .btn-block-2__1:before {
    bottom: -50%;
    -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
            transform: translateY(16px);
  }

  .btn-block-2__2mins {
    right: 40px;
  }

  .btn-block-3__wait {
    margin: 0px 0px 0px 15px;
  }
}

@media (max-width: 1000px) and (min-height: 800px) {
  .header {
    margin: 70px 0px 0px 0px;
  }
}

@media (max-width: 1000px) {
  .main__phone {
    position: absolute;
    bottom: 0;
    left: -80px;
    width: 30%;
  }
}

@media (max-width: 830px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .header__socials {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: auto;
  }

  ._container {
    padding: 0px 20px;
  }

  .header__contacts {
    display: none;
  }

  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__info {
    max-width: 100%;
  }

  .main__img-wrapper {
    max-width: 450px;
    margin: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn-block-1 {
    margin: 48px 0px 0px 0px;
  }

  .btn-block-1__link {
    max-width: 500px;
    width: 100%;
    height: 88px;
    margin: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn-block-1__link span {
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
  }

  .btn-block-1__link span:before {
    -webkit-transform: scale(0.4) translateY(35px);
        -ms-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }

  .btn-block-2 {
    max-width: 500px;
    width: 100%;
    margin: 80px auto 0;
  }

  .btn-block-2__link {
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
  }

  .btn-block-2__link p {
    margin: 0px 0px 0px 80px;
  }

  .btn-block-2__link .btn-block-2__1 {
    margin: 10px 0px 0px 80px;
  }

  .btn-block-2__link .btn-block-2__1:before {
    -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
            transform: translateY(16px);
  }

  .btn-block-2__2mins {
    right: -3%;
  }

  .btn-block-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .btn-block-3__link {
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .btn-block-3__link span {
    max-width: 500px;
    margin: 0;
  }

  .btn-block-3__wait {
    margin: 15px 0px 0px 0px;
  }

  .btn-block-3__magazine {
    margin: 15px 0px 0px 0px;
  }

  .c-block-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) and (min-height: 800px) {
  .header {
    margin: 34px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .header__logo-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 240px;
  }

  .header__logo-text {
    margin: 9px 0px 0px 0px;
  }

  .main {
    margin: 11px 0px 0px 0px;
  }

  .main__upper-text {
    margin: 0;
  }

  .c-block-2 {
    margin: 15px 0px 10px 0px;
  }
}

@media (max-width: 400px) {
  .main__img-wrapper {
    max-width: 280px;
  }

  .btn-block-1__link span:before {
    right: 80%;
  }

  .btn-block-2__link .btn-block-2__1:before {
    right: 100%;
  }

  .btn-block-2__2mins {
    width: 70px;
    height: 70px;
    right: -5%;
  }

  .btn-block-2__2mins p span {
    font-size: 45;
    margin: 0px 0px -2px 0px;
  }
}

@media (max-width: 370px) {
  .btn-block-1__link {
    max-width: 300px;
  }

  .btn-block-1__link span {
    font-size: 15px;
  }
}

@media (max-height: 920px) {
  .header {
    margin: 34px 0px 0px 0px;
  }
}
@supports (-webkit-appearance:none){
.btn-block-1__link span:before{background:url("../img/magazine.webp") 0 0 no-repeat}
.btn-block-2__link .btn-block-2__1:before{background:url("../img/magazine.webp") 0 0/cover no-repeat}
.btn-block-3__2mins:after{background:url("../img/icons/watch.svg") 0 0/cover no-repeat}
}

 @media (max-height: 920px) and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-height: 800px) and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1000px) and (min-height: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 830px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px) and (min-height: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 370px){

@supports (-webkit-appearance:none){

}

}

 @media (max-height: 920px){

@supports (-webkit-appearance:none){

}

}
